html {
  scroll-behavior: smooth;
}

body{
    padding-top:0.5vw;
    background-color:#CBF1F5;
    flex-direction:column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.card-body{
    border: 0px;
    border: 2px solid whitesmoke;
    border-radius: 30px;

}

.nav{
    margin-left: -5vw;
    margin-right: -4.5vw;
}

.nav > li{
    background-color:transparent;
}

.nav-item{
    margin-left: 0.5vw;
    border-radius: 6px;
    border-width: 5px;
    border-color: white;
}

.nav-link{
    background-color: transparent;
}



.foots{
    width:100%;
}

.aboutme{
    display:flex;
    background-color:#E3FDFD;;
    align-items:center;
}

.aboutpic{
    background-color:#E3FDFD;
    display:flex;
    border-radius: 30px;
    justify-content: center;
}

.active{
    text-decoration: line-through;
    background-color: red;
}

li > a {
    color:red;
}

.btn{
    margin: 01vw;
}

.coll1{
    margin-left: 01vw;
    border-radius: 10px;
    background-color: aqua;
}

#footer{
    display:flex;
    justify-content:center;
}

.footer{
    margin-top:2.5vw;
    text-align: center;
    background-color: #E3FDFD;
    margin-left:-5vw;
    margin-right:-5vw;
}

.main{
    width:100%;
}

.project1{
    display:flex;
    justify-content: center;
    margin-top: 2vw;
    background-color:#CBF1F5;
}

.prof{
    justify-self: center;
    border-width: 2px;
    border-radius: 20px;
    background-color: #b2eff2;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 80%;
    margin-bottom: 3vw;
}






/* buttons */ 

a.button{
    text-decoration: none;
}

.buttone{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

button {
    --color: #71C9CE;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content:center;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

button:hover {
    color: white;
}

button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
}
