body{
    background-color: midnightblue;
    flex-direction:column;
}


.nav > li{
    padding-left:30px;
    padding-right:30px;
}

.nav-link{
    background-color: gray;
}


.foots{
    width:100%;
}

.aboutme{
    display:flex;
    
    align-items:center;
}

.active{
    text-decoration: line-through;
    background-color: red;
}

li > a {
    color:red;
}

.btn{
    margin: 1vw;
}

#footer{
    display:flex;
    justify-content:center;
    color:red;
    margin-top:auto;
}
